/*@font-face {
    font-family: 'Rubik';
    src: url('../font/Rubik-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik';
    src: url('../font/Rubik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('../font/Rubik-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('../font/Rubik-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('../font/Rubik-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('../font/Rubik-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik';
    src: url('../font/Rubik-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik';
    src: url('../font/Rubik-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik';
    src: url('../font/Rubik-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik';
    src: url('../font/Rubik-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src:  url('../font/icomoon.eot?3jveco');
  src:  url('../font/icomoon.eot?3jveco#iefix') format('embedded-opentype'),
    url('../font/icomoon.ttf?3jveco') format('truetype'),
    url('../font/icomoon.woff?3jveco') format('woff'),
    url('../font/icomoon.svg?3jveco#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*/

/*/.icon-call-answer:before {
  content: "\e904";
}
.icon-left-arrow:before {
  content: "\e905";
}
.icon-right-arrow:before {
  content: "\e906";
}
.icon-search1:before {
  content: "\e907";
}
.icon-phone:before {
  content: "\e942";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}*/


*{
    box-sizing: border-box;
}
a{
    text-decoration: none;  
}
a:hover{
    text-decoration: underline;
    color: #282b2f;
}
a:visited{
   color: #282b2f; 
}
a:active{
    color: #282b2f; 
}
body{
    font: 300 16px/26px Rubik, sans-serif;
    color: #67767d;
}
.header-wrapper{
    width: 100%;
    background: #f5f8fb;
    border-bottom: 1px solid #e0e9f0;
}
header{
     font:500 18px/20px Rubik, sans-serif;

}
.header-top{
    width: 1280px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between; 

}
.logo{
    padding-top: 37px;
    font-size: 32px;
}
.logo strong{
    color: #009688;
}
.icon-phone{
  padding-top: 4px;
  padding-bottom: 18px;
}
.header-wrapper a{
    color: #282b2f;
}

.icon-phone:before{
  content: "\e904";
  font-size: 20px;
  position: relative;
  left: -35px;
  top: 20px;
  color: #465a64;
}
.icon-phone li{
   /* padding-bottom: 14px;*/
    font:500 18px/20px Rubik, sans-serif; 
     margin-bottom: 7px;
}
.icon-phone li a:hover{
    text-decoration: underline;
}

.nav{
    width:1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 14px;
}
.nav a{
    color: #282b2f;
}
.wrapper-nav{
    width: 100%;
    border-bottom: 1px solid #e0e9f0; 
}
main{
    border-bottom: 1px solid #e0e9f0; 
}
.Breadcrumb{
    width:1280px;
    margin: 0 auto;
    padding-top: 13px;
    margin-bottom: 68px;
}
.Breadcrumb li{
    font-size: 14px;
    display:inline-block;
    margin-right: 15px;
}
.Breadcrumb li:first-child{
    color: #545658;
}
.Breadcrumb li:last-child{
    color: #78909c;
}
.Breadcrumb li{
    font-size: 14px;
}                            /*не устанавливается шрифт*/
.Breadcrumb .icon-arrow:after{
    content: "\e906";
    font-size: 9px;
    position: relative;
    left: 11px; 
}
.main-part{
    margin-bottom: 60px;
}
.img-main{
    display: block;
    border-radius: 4px;
    padding-top: 10px;
    margin-bottom: 25px;
}
.text{
    width:1281px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 67px;   
}
.content{
    width: 845px;
}
.content h1{
    font: 500 44px/54px Rubik, sans-serif;
    color: #282b2f; 
}
.content h1{
   padding-bottom: 28px;
}
.content p{
  padding-bottom: 26px;  
}
section{
    padding-bottom: 28px;
    border-bottom: 1px solid #e0e9f0; 
}
.content h3{
    font: 500 28px/38px Rubik, sans-serif;
    color: #282b2f;
    padding-bottom: 28px;
}
.br{
    display: block;
}

.content strong{
    display: inline-block;
    font-family: 'Rubik';
    font-size: 20px; 
    font-weight: normal;
    font-style: italic;
    margin-bottom: 19px;
}
.product a{
    text-decoration: underline;
    color: #1976d2;
    font-style: italic;
}
.product a:hover{
    text-decoration: none;
}
.product li{
    padding-left: 25px;
    margin-bottom: 15px; 
    position: relative;
    background: url(../img/dash.jpg)left 50% no-repeat;
}
/*.product li:before{
    position: absolute;
    content: "";
    background: url(../img/dash.jpg);
    width: 12px;
    height: 2px;   
}*/
.product{
    margin-bottom: 18px;
}
.range{
    margin-bottom: 60px;
}
.content h4{
    font: 500 22px/25px Rubik, sans-serif;
    color: #282b2f;
    margin-bottom: 33px;
}
.image-box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    margin-top: 10px;
}
/*.image-box img:first-child{
    border-radius: 5px 0 0 5px;
}                                /* некрасивый радиус*/
/*.image-box img:nth-child(2){
    border-radius: none;
}
.image-box img:last-child{
    border-radius: 0 5px 5px 0;
}*/
.align{
    margin-bottom: 22px;
    display: block;
}
.decimal{
    list-style-type: decimal;
    padding-left: 15px;
}
.decimal li{
    margin-bottom: 14px;
}
caption{
     font: 500 22px/25px Rubik, sans-serif;
     padding-top: 45px;
     padding-bottom: 15px;
     text-align: left;
     display: inline-block;
     color: #282b2f;
}
.table{
    width: 845px;
    padding-bottom: 50px; 
    border-bottom: 1px solid #e0e9f0;
}                      /*padding-bottom раболтает только
 на диве, а не на таблице и правильно ли давать ширину и
  диву и таблице?*/
table{
    width: 845px;
    text-align: center;
}
table tr:nth-child(2n){
    background: #f8f8f8;
} 
th{
    vertical-align: middle;
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 18px; 
    color: #282b2f;
}
td{
    vertical-align: middle;
    
    font-family: 'Rubik';
    font-weight: normal;
    font-style: normal;
    font-size: 16px; 
}
tr{
    height: 60px;
    color: #282b2f;
}
table a{
    color: #1976d2;
      font-style: italic;
    text-decoration: underline;
}
table a:hover{
    color: #1976d2;
    text-decoration: none;
}
table a:visited{
    color: #1976d2;
}
.col1{
    width: 110px;
}
.col2{
    width: 230px;
}
.col3{
    width: 150px;
}
.col4{
    width: 225px;
}
.col5{
    width: 130px;
}

.tab{
    padding-top: 48px;
}
.tab strong{
    font: 500 22px/25px Rubik, sans-serif;
    color: #282b2f;
    margin-bottom: 44px;
}
.tab ul{
    border-bottom: 2px solid #009688;
    display: flex;
    margin-bottom: 16px;
}
.tab li{
    display: flex;
    height: 56px;
    width: 250px;
    margin-right: 4px;
    border: 2px solid #009688;
    border-bottom: none;
}
.tab a{
    text-decoration: none;
    font: 500 16px/18px Rubik, sans-serif;
    margin: auto;
    display: block;
    color: #009688;

}
.tabs-nav .tab-active a {
    background: #009688;
    height: 56px;
    width: 250px;
    text-decoration: none;
    font: 500 16px/18px Rubik, sans-serif;
    margin: auto;
    display: block;
    color: #fefefe;
    cursor: default;
    line-height: 55px;
    padding-left: 60px;
}

.sidebar{
    margin-top: 10px;
}
.input{
    width: 378px;
    height: 52px;
    border: 2px solid #e0e9f0;
    border-radius: 4px;
    padding-left: 19px;
    padding-right: 50px;
    font:300 16px/18px Rubik, sans-serif;
    margin-bottom: 43px; 
}
.icon-search{
    width: 20px;
    position: absolute;
    top: 15px;
    right: 24px;
}
.search-row{
    overflow: hidden;
    position: relative;

}
.icon-search:after{ 
   content: "\e907";
   font-size: 20px; 
   color: #009688;
}
input::-webkit-input-placeholder{
    color: #bdc6ca !important;
}
 
input:-moz-placeholder{ /* Firefox 18- */
    color: #bdc6ca !important;  
}
 
input::-moz-placeholder{  /* Firefox 19+ */
    color: #bdc6ca !important;  
}
 
input:-ms-input-placeholder{  
    color: #bdc6ca !important;  
}
textarea::-webkit-input-placeholder{
    color: #bdc6ca !important;
}
 
textarea:-moz-placeholder{ /* Firefox 18- */
    color: #bdc6ca !important;  
}
 
textarea::-moz-placeholder{  /* Firefox 19+ */
    color: #bdc6ca !important;  
}
 
textarea:-ms-input-placeholder{  
    color: #bdc6ca !important;  
}
.sidebar article{
    width: 382px;
 /*   padding-bottom: 25px;*/
   
}
 h2{
    font:500 36px/38px Rubik, sans-serif;
    color: #282b2f;
}
.side-one h2{
    margin-bottom: 33px;
}

.side-one img{
    margin-bottom: 18px;
}
.side-two img{
    margin-bottom: 19px; 
}

.end img{
     padding-bottom: 20px; 
}
.side-one{
    border-bottom: 1px solid #e0e9f0;
     padding-bottom: 25px;   
}
.side-two{
     margin-top: 30px;
     border-bottom: 1px solid #e0e9f0;
     padding-bottom: 25px; 
}
.sidebar h4{
    font:500 22px/25px Rubik, sans-serif;
    color: #282b2f;
    margin-bottom: 14px;
}
.side-one .data{
    margin-bottom: 15px;
    font: normal 14px/16px Rubik, sans-serif;
    color: #bdc6ca;
    display: block;
}
.side-two .data{
    margin-bottom: 14px;
    font: normal 14px/16px Rubik, sans-serif;
    color: #bdc6ca;
    display: block;
}
.end .data{
    margin-bottom: 17px;
    font: normal 14px/16px Rubik, sans-serif;
    color: #bdc6ca;
    display: block;
}

.sidebar p{
    font: normal 16px/26px Rubik, sans-serif;
    color: #455a63;
    margin-bottom: 25px;
}
.sidebar span a{
    color: #009688;
    text-decoration: underline;
    font:500 16px/18px Rubik, sans-serif;
}
.sidebar span a:hover{
    text-decoration: none;  
}

.sidebar h5{
    font:500 20px/22px Rubik, sans-serif;
    color: #282b2f;
    margin-bottom: 14px;
}
 .end{
    border-bottom: none;
    margin-top: 30px;
    margin-bottom: 35px;
} 


.sidebar span{
    display: block;
}
.news{
    width: 378px;
    height: 52px;
    border: 2px solid #009688;
    border-radius: 4px;
    display: flex;
    margin-bottom: 75px;
}
.icon-arrow-right{
    display: flex;
}
 .news a{
    text-decoration: none;
    font: 500 18px/20px Rubik, sans-serif;
    color: #009688;
    margin: auto;
    display: block;
    padding-left: 55px; 
}
.icon-arrow-right:after{
    content: "\ea3c";
    position: relative;
    top: 16px;
    left: 10px;
    color: #009688;
}
.register {
    width: 382px;
}
.register h2{
    padding-bottom: 7px;
}
.register p{
    letter-spacing: -0.1px;
    margin-bottom: 30px;
}

.text-input{
    width: 378px;
    height: 52px;
    border: 2px solid #e0e9f0;
    border-radius: 4px;
    padding-left: 19px;
    padding-right: 19px;
    font:300 16px/18px Rubik, sans-serif;
    margin-bottom: 16px;
}
.textarea{
    width: 378px;
    height: 140px;
    border: 2px solid #e0e9f0;
    border-radius: 4px;
    padding-left: 19px;
    padding-right: 19px;
    padding-top: 15px;
    font:300 16px/18px Rubik, sans-serif;
    margin-bottom: 30px;
}
.button{
    width: 378px;
    height: 52px;
    border-radius: 4px;
    font:300 18px/20px Rubik, sans-serif;
    background: #009688;
    color: #ffffff;
    border: none;
}
footer{
}
.footer-wrapper{
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    margin-bottom: 40px;
}
.socials{
    width: 167px;
    display: flex;
    justify-content: space-between;

}
.icon-instagram-logo:before{
    content: "\e900"; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  

}
.icon-facebook-logo:before{
    content: "\e901";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.icon-dribbble-logo:before{
    content: "\e902";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.icon-linkedin-logo:before{
    content: "\e903";
     position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.socials a{
    position: absolute;
    width: 32px;
    height: 32px;
    left:0;
}
.socials span{
    display: block;
    width: 32px;
    height: 32px;
    position: relative; 
    font-size: 20px;
}
.socials span:hover{
    color: #179f93;
    border:1px solid #179f93;
    border-radius: 100%;
}
.copy{
    font-family: 'Rubik';
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    color: #282b2f;
    position: relative;
    padding:3px;
}

.icon-copy:before{
   content: "\e908";
   position: absolute;
   left:-16px;
   top: 9px;
}
.icon-list{
    position: relative;
}

.icon-list:after{
    content: "\e906";
    position: absolute;
    top: 6px;
    left: 10px;
    color: #282b2f;
    font-size: 15px;
    font-weight: bold;
   -webkit-transform: rotate(90deg);
   -moz-transform: rotate(90deg);
   -o-transform: rotate(90deg);
   -ms-transform: rotate(-90deg);
    transform: rotate(90deg);
}
.list{
    position: relative;
}
.nav >li>ul{
    position: absolute;
    left: 70px;
    font: 300 16px/26px Rubik, sans-serif;
    color: #67767d;
    background: #f5f8fb;
    display: none;
}
.nav >li>ul>li{
    width: 120px;
    text-align: center;
}
.nav >li:hover ul{
    display: block;
}